//https://getcssscan.com/css-buttons-examples (button style)

// Colour scheme 2
$theme-dark = #222831
$theme-grey-ish = #393E46
$theme-brown = #948979
$theme-white = #FAF9F6

$grid-breakpoint-xs = 0
$grid-breakpoint-sm = 576px
$grid-breakpoint-md = 768px
$grid-breakpoint-lg = 992px
$grid-breakpoint-xl = 1200px
$grid-breakpoint-xxl = 1400px

// Phone specific css can go under this
@media (min-width: $grid-breakpoint-sm)
  .newlines
    padding-top: 20px;
    padding-bottom: 20px;
  
  button
    padding: 0.25em 0.75em;

.newlines
  padding-top: 60px;

.nick-button
  // Button style
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $theme-grey-ish;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;

button:active
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;

// Forms
.blog-form
  width: fit-content;
  background: $theme-white;
  position: relative;
  display: inline-flex;
  box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.2);
  
  input, textarea
    width: 90%;
    margin-top: 30px;
    border: 0;
    border-bottom: 1px solid $theme-grey-ish;
    font-size: 13px;
    color: $theme-grey-ish;
    letter-spacing: 0.11em;
    background: $theme-white;
    
    &::placeholder
      color: $theme-grey-ish;
      font-size: 14px;
    
    &:focus
      outline: 0;
      border-bottom: 2px solid;